<ion-header>
  <header [header]="header_data"></header>
  <ion-icon name="book" class="icon-pull-right"></ion-icon>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-card *ngFor="let item of blogItems" (click)="itemTapped($event, item)">
          <div class="iframe-container">
            <div class="featured-image-backdrop">
              <img [src]="item.blogImage" class="setImage">
              <!--<iframe [src]="videoList.videoUrl"></iframe>-->
            </div>
          </div>
          <ion-card-content class="card-align">
            <h2 [innerHTML]="item.blogTitle"></h2>
            <div [innerHTML]="item.blogDescription" class="limit-word">
              <p></p>
            </div>
            <div><span class="pull-right">{{item.blogDate | date :'mediumDate'}}</span></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>