
@font-face {
    font-family: 'AR-DESTINE';
    src:url('../assets/fonts/ar-destine/AR-DESTINE.ttf.woff') format('woff'),
        url('../assets/fonts/ar-destine/AR-DESTINE.ttf.svg#AR-DESTINE') format('svg'),
        url('../assets/fonts/ar-destine/AR-DESTINE.ttf.eot'),
        url('../assets/fonts/ar-destine/AR-DESTINE.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

 .toolbar-title  {
        font-family: 'AR-DESTINE';
        color:color($colors, light);
        font-size: $headerFontSize;
        font-weight: $headerFontWeight;
    }

.toolbar-ios ion-title {
    padding: 0 82px 8px;
}

    .toolbar-background {
        background-color: color($colors, deFontColor);       
    }

    /*.toolbar-title {
        background: url("../assets/logo/logo.png");
        background-size: 165px 60px;
        background-repeat: no-repeat; 
        position: absolute;
        height:65px;
    }*/

    ion-title  {
        position: relative;
    }

    .bar-button-default-md, .bar-button-default-wp, .bar-button-default-ios {
            color:color($colors, light);
    }

    

    ion-header {
       /* box-shadow: 2px 3px 5px 1px color($colors, headerShadowCOlor);*/

        &.menu-header{
            box-shadow: none;

        }
    }
//These SCSS is made for the logo and icon on the header of the pages STARTS
    .icon-pull-right  {
        position: absolute;
        right: 20px;
        color:color($colors, light);
        font-size: $publishdateSize*3.5; 
        bottom: 8px;
        color: #f4f4f4;

        &:hover   {
            cursor: pointer;
            color:color($colors, secondary);
        }
    }

    .adjust-icon {
        &::before{
            font-size: 36px;
            margin-left: -11px;
        }
    }

    .sideMenuIcon  {
        padding-right: 30px;
        color:color($colors, sideMenuIconColor);
        
    }

    .sideMenuText {
        color:color($colors, sideMenuTextColor);
        font-size: 1.7rem;
    }

     .footerMenuIcon  {
        padding-right: 15px;
        color:color($colors, sideMenuIconColor);
        display: inline-block;
        width:30px;
        vertical-align: top;
    }

    .footerMenuText {
        color:color($colors, light);
        font-size: 1.2rem;
        display: inline-block;
        width:calc(100% - 40px);
        vertical-align: top;
        //color:white;
        padding-bottom: 10px;
    }
//These SCSS is made for the logo and icon on the header of the pages ENDS
