<!--<ion-nav [root]="rootPage"></ion-nav>-->
<ion-menu [content]="content">
  <ion-header class="menu-header">
    <ion-toolbar>
      <div menuClose (click)="defaultPage(p)" style="cursor: pointer">
      <ion-icon class="sideMenuIcon" style="color: white; padding-left: 15px" name="home"></ion-icon>
      <span style="color:#f4f4f4; font-size: 1.7rem">Home</span>
      </div>
      <!--<ion-title>Menu</ion-title>-->
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="sideMenuIcon" name={{p.name}}></ion-icon>
        <span class="sideMenuText">{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>