<ion-header>
  <header [header]="header_data"></header>
  <ion-icon name="book" class="icon-pull-right"></ion-icon>
</ion-header>

<ion-content>
   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-card *ngFor="let item of items" (click)="itemTapped($event, item)">
          <div class="iframe-container">
            <div class="featured-image-backdrop">
              <img [src]="item._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url" class="setImage" >
              <!--<iframe [src]="videoList.videoUrl"></iframe>-->
            </div> 
          </div>
          <ion-card-content class="card-align">
              <h2 [innerHTML]="item.title.rendered"></h2>
              <div [innerHTML]="item.excerpt.rendered" class="limit-word"><p></p></div>
              <div><span class="pull-right">{{item.date | date :'mediumDate'}}</span></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>