<!--
  Generated template for the Categories page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
   <ion-icon name="apps" class="icon-pull-right" ></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ion-item *ngFor="let category of categories" (click)="showProductsInCategory(category)">
    <ion-avatar item-left>
      <img src="{{category.image_url || 'https://marketcloud.azureedge.net/website-v2/logo-text-center-padding.png'}}">
    </ion-avatar>
    <h2>{{category.name}}</h2>
  </ion-item>
</ion-list>


</ion-content>

