<ion-header>
  <header [header]="header_data"></header>
  <i class="flaticon-basket-with-one-handle icon-pull-right adjust-icon"></i>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let product of products" (click)="viewItemDetails(product)">
      <!--<ion-avatar item-left>
        <img src="{{product.images[0]}}">
      </ion-avatar>-->
      <ion-thumbnail item-left>
        <img src="{{product.images[0]}}" class="thumbnail_align">
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
      <div [ngSwitch]="product?.price_discount">
        <p *ngSwitchCase="true">₹ <span st>{{product.price}}</span> <span>{{product.price_discount}}</span></p>
        <p *ngSwitchDefault>₹ <span style="text-decoration: line-through;">{{product.price}}</span> <span>{{product.price_discount}}</span></p>
        <div *ngIf='product.stock_status === "in_stock"'>
          <p class="pull-right">In Stock: {{product.stock_level}}</p>
        </div>
        <div *ngIf='product.stock_status !== "in_stock"'>
          <p class="pull-right">Out of Stock</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>