page-products {
  .item-md ion-thumbnail[item-left]{
      margin: 0px 5px 5px 0px;
  }
  .thumbnail_align {
      width:70px;
      height:70px;
      border-radius: 10px;
  }
  .pull-right    {
        position: absolute;
        right: 20px;
        color: $publishdateColor;
        font-size: $publishdateSize;   
    }
}
