<ion-header>

  <header [header]="header_data"></header>
  <i class="flaticon-pin icon-pull-right adjust-icon" (click)="doRefresh($event)"></i>
</ion-header>

<ion-content>
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>-->
  <div id="map_canvas"></div>
</ion-content> 