<ion-header>
  <ion-navbar>
    <ion-title>item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div class="iframe-container">
      <div class="image-backdrop">
        <img src="{{product.images[0]}}" />
      </div>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{product.name}}
      </ion-card-title>
      <div [ngSwitch]="product?.price_discount">
        <p *ngSwitchCase="true">₹ <span st>{{product.price}}</span> <span>{{product.price_discount}}</span></p>
        <p *ngSwitchDefault>₹ <span style="text-decoration: line-through;">{{product.price}}</span> <span>{{product.price_discount}}</span></p>
        <p [innerHTML]="product.description"></p>
      </div>
      <ion-list *ngIf="product.type === 'product_with_variants'">
        <ion-item *ngFor="let vName of keys(product.variantsDefinition)">
          <ion-label>{{vName}}</ion-label>
          <ion-select [(ngModel)]="selectedVariants[vName]">
            <ion-option value="{{vValue}}" *ngFor="let vValue of marketcloud.utils.getVariantValues(vName,product)">{{vValue}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div>
        <button ion-button full (click)="addToCart(product)" [disabled]="true === requiredOptionsAreMissing()">Add to cart</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>