page-item {
.iframe-container{
        box-sizing: border-box;
        padding: 13px 16px;

        .image-backdrop{
            width: 100%;
            min-height: 150px;
            background: black;
        }

        img{
            width: 100%;
            border:none;
            outline: none;
        }
    }
}
