<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><i class="flaticon-drone-14 adjust-icon"></i>DronEPIC</ion-title>
     <ion-icon name="logo-youtube" class="icon-pull-right"></ion-icon>
  </ion-navbar>
</ion-header>-->

<ion-header>
  <header [header]="header_data"></header>
  <i class="flaticon-drone icon-pull-right adjust-icon" ></i>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide *ngFor="let data of dataListArr">
      <img [src]="data.dataImage" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="data.dataTitle"></h2>
      <p [innerHTML]="data.dataDesc"></p>
    </ion-slide>
    <!--<ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <button ion-button large clear icon-right color="primary">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>-->
  </ion-slides>
</ion-content>