// page-home {

// }
page-home {

  .slide-zoom {
    height: 100%;
  }


  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }


  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;
    display: inline-block;
    text-align: left;

  }

}