<!--
  Generated template for the Cart page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
    <i class="flaticon-black-shopping-cart icon-pull-right adjust-icon"></i>
  </ion-navbar>
</ion-header>
 

<ion-content>
<ion-card>
  	<ion-card-header>
   Items
  </ion-card-header>
    <ion-card-content *ngIf="cart.items.length === 0">
      Your cart is empty!
    </ion-card-content>
   <ion-list no-lines>
     <ion-item *ngFor="let product of cart.items; let i = index;">
    <ion-avatar item-left>
      <img src="{{product.images[0]}}">
    </ion-avatar>
    <h2>{{product.name}} <b>x {{product.quantity}}</b></h2>
    <div [ngSwitch]="product?.price_discount">
    <p *ngSwitchCase="true">₹ <span st>{{product.price}}</span> <span>{{product.price_discount}}</span></p>
    <p *ngSwitchDefault>₹ <span style="text-decoration: line-through;">{{product.price}}</span> <span>{{product.price_discount}}</span></p>
    </div>
    <div>
    	<button primary large>
		  <ion-icon name="add" (click)="increaseQuantity(i)"></ion-icon>
		</button>
		<button primary large>
		<ion-icon name="remove" (click)="decreaseQuantity(i)"></ion-icon>
		</button>
    </div>
  </ion-item>
</ion-list>
  
 
    
</ion-card>
<ion-card>
  <ion-card-content>
  	<div>Total for this order is ₹ {{getCartTotal()}}</div>
   <button ion-button full (click)="proceedToCheckout()"
      [disabled]="0 === cart.items.length">Checkout</button>
    </ion-card-content>
    <button ion-button type="submit" (click)="logout()" block>Logout</button>
</ion-card>
</ion-content>
