<ion-header>
  <header [header]="header_data"></header>
  <!--<ion-icon name="information-circle" class="icon-pull-right"></ion-icon>-->
  <i class="flaticon-propeller icon-pull-right adjust-icon" ></i>
</ion-header>

<ion-content padding>
 <div *ngIf="selectedItem" class="selection">
    <h2 [innerHTML]="selectedItem.blogTitle"></h2>
    <div [innerHTML]="selectedItem.blogContent"></div>
 </div>
</ion-content>