<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
      </ion-col>
    </ion-row> 
  </ion-grid>
  <ion-tabs>
    <!-- Indicates with tabsPage should handle each tab here -->
    <ion-tab [root]="ProductsPage" tabTitle="Products" tabIcon="basket"></ion-tab>
    <ion-tab [root]="CategoriesPage" tabTitle="Categories" tabIcon="apps"></ion-tab>
    <ion-tab [root]="CartPage" tabTitle="Cart" tabIcon="cart"></ion-tab>
  </ion-tabs>
</ion-content>