	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bag-black-fashion-model:before { content: "\f100"; }
.flaticon-bag-for-shopping:before { content: "\f101"; }
.flaticon-bag-for-shopping-1:before { content: "\f102"; }
.flaticon-bag-for-shopping-in-black-shape:before { content: "\f103"; }
.flaticon-bag-of-black-female-design:before { content: "\f104"; }
.flaticon-bag-outline:before { content: "\f105"; }
.flaticon-bag-outline-1:before { content: "\f106"; }
.flaticon-basket:before { content: "\f107"; }
.flaticon-basket-for-shopping:before { content: "\f108"; }
.flaticon-basket-for-shopping-of-two-handles:before { content: "\f109"; }
.flaticon-basket-of-rounded-circular-base-shape:before { content: "\f10a"; }
.flaticon-basket-with-one-handle:before { content: "\f10b"; }
.flaticon-bill-of-1-dollar:before { content: "\f10c"; }
.flaticon-black-shopping-cart:before { content: "\f10d"; }
.flaticon-coin-money-in-stack:before { content: "\f10e"; }
.flaticon-coin-of-dollar:before { content: "\f10f"; }
.flaticon-coin-of-dollar-1:before { content: "\f110"; }
.flaticon-coins-money-stack:before { content: "\f111"; }
.flaticon-coins-money-stack-1:before { content: "\f112"; }
.flaticon-coins-of-dollars-stack:before { content: "\f113"; }
.flaticon-coins-stacks-money:before { content: "\f114"; }
.flaticon-credit-card-back:before { content: "\f115"; }
.flaticon-credit-card-back-1:before { content: "\f116"; }
.flaticon-credit-card-back-2:before { content: "\f117"; }
.flaticon-credit-card-back-symbol:before { content: "\f118"; }
.flaticon-credit-card-front:before { content: "\f119"; }
.flaticon-credit-card-lock-symbol:before { content: "\f11a"; }
.flaticon-credit-card-remove-symbol-with-a-cross-for-interface:before { content: "\f11b"; }
.flaticon-credit-card-with-a-flag:before { content: "\f11c"; }
.flaticon-credit-card-with-check-symbol:before { content: "\f11d"; }
.flaticon-credit-card-with-minus-sign:before { content: "\f11e"; }
.flaticon-credit-card-with-plus-sign:before { content: "\f11f"; }
.flaticon-credit-cards-couple:before { content: "\f120"; }
.flaticon-credit-or-debit-card-front:before { content: "\f121"; }
.flaticon-dollar-coin-money:before { content: "\f122"; }
.flaticon-money-bag-and-coins:before { content: "\f123"; }
.flaticon-money-bag-black-shape:before { content: "\f124"; }
.flaticon-money-bag-black-variant-symbol:before { content: "\f125"; }
.flaticon-money-bag-outline:before { content: "\f126"; }
.flaticon-money-bag-protection:before { content: "\f127"; }
.flaticon-money-bag-with-dollar-sign:before { content: "\f128"; }
.flaticon-money-bags:before { content: "\f129"; }
.flaticon-money-bill:before { content: "\f12a"; }
.flaticon-money-bills-and-coins-stack:before { content: "\f12b"; }
.flaticon-money-bills-stack:before { content: "\f12c"; }
.flaticon-money-bills-stack-1:before { content: "\f12d"; }
.flaticon-money-black-bag-with-dollar-sign:before { content: "\f12e"; }
.flaticon-money-coin-of-dollar:before { content: "\f12f"; }
.flaticon-money-coins-and-bill:before { content: "\f130"; }
.flaticon-money-paper-bills:before { content: "\f131"; }
.flaticon-money-paper-of-dollars:before { content: "\f132"; }
.flaticon-money-stacked-coins:before { content: "\f133"; }
.flaticon-printed-paper:before { content: "\f134"; }
.flaticon-receipt:before { content: "\f135"; }
.flaticon-receipt-1:before { content: "\f136"; }
.flaticon-receipt-2:before { content: "\f137"; }
.flaticon-receipt-black-variant:before { content: "\f138"; }
.flaticon-receipt-paper:before { content: "\f139"; }
.flaticon-receipt-paper-1:before { content: "\f13a"; }
.flaticon-receipt-paper-2:before { content: "\f13b"; }
.flaticon-receipt-paper-outline-shape-variant:before { content: "\f13c"; }
.flaticon-shop:before { content: "\f13d"; }
.flaticon-shop-1:before { content: "\f13e"; }
.flaticon-shop-building:before { content: "\f13f"; }
.flaticon-shop-store-frontal-building:before { content: "\f140"; }
.flaticon-shopping-bag-check-symbol:before { content: "\f141"; }
.flaticon-shopping-bag-outline:before { content: "\f142"; }
.flaticon-shopping-bag-outline-with-plus-symbol:before { content: "\f143"; }
.flaticon-shopping-bag-remove-interface-symbol:before { content: "\f144"; }
.flaticon-shopping-bag-side-view:before { content: "\f145"; }
.flaticon-shopping-bag-with-a-flag:before { content: "\f146"; }
.flaticon-shopping-bag-with-minus-sign:before { content: "\f147"; }
.flaticon-shopping-bag-with-security:before { content: "\f148"; }
.flaticon-shopping-basket:before { content: "\f149"; }
.flaticon-shopping-basket-1:before { content: "\f14a"; }
.flaticon-shopping-basket-of-one-handle:before { content: "\f14b"; }
.flaticon-shopping-basket-with-two-handles:before { content: "\f14c"; }
.flaticon-shopping-basket-with-two-handles-from-side-view:before { content: "\f14d"; }
.flaticon-shopping-black-bag:before { content: "\f14e"; }
.flaticon-shopping-cart:before { content: "\f14f"; }
.flaticon-shopping-cart-1:before { content: "\f150"; }
.flaticon-shopping-cart-2:before { content: "\f151"; }
.flaticon-shopping-cart-add-button:before { content: "\f152"; }
.flaticon-shopping-cart-black-variant:before { content: "\f153"; }
.flaticon-shopping-cart-cancel-button:before { content: "\f154"; }
.flaticon-shopping-cart-empty-symbol:before { content: "\f155"; }
.flaticon-shopping-cart-empty-tool:before { content: "\f156"; }
.flaticon-shopping-cart-of-gross-outline:before { content: "\f157"; }
.flaticon-shopping-cart-outline:before { content: "\f158"; }
.flaticon-shopping-cart-symbol-for-e-commerce:before { content: "\f159"; }
.flaticon-shopping-cart-verified-symbol:before { content: "\f15a"; }
.flaticon-shopping-cart-with-an-arrow:before { content: "\f15b"; }
.flaticon-shopping-cart-with-an-up-arrow:before { content: "\f15c"; }
.flaticon-shopping-cart-with-horizontal-lines-design:before { content: "\f15d"; }
.flaticon-shopping-cart-with-minus-sign:before { content: "\f15e"; }
.flaticon-store:before { content: "\f15f"; }