<ion-header>
    <header [header]="header_data"></header>
    <ion-icon name="logo-facebook" class="icon-pull-right"></ion-icon>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row>
            <ion-col width-100>
                <ng-container *ngFor="let post of posts | async">
                    <ion-card *ngIf="post.photos.length > 0">
                        <ion-item>
                            <ion-avatar item-left>
                                <img src="http://graph.facebook.com/{{post.from.id}}/picture" />
                            </ion-avatar>
                            <h2>{{ post.from.name }}</h2>
                            <p>{{ post.time | date:'mediumDate' }}</p>
                        </ion-item>
                        <div class="iframe-container">
                            <div class="fb-image-backdrop">
                                <img [src]="post.photos[0].src" />
                            </div>
                        </div>
                        <ion-card-content>
                            <p>{{ post.message }}</p>
                            <ion-item>
                                <div class="fbLikeWrapper">
                                    <div class="fbLikeIcon"></div>
                                </div>
                                <ion-badge class="ionBadgeAlign" color="deFontColor" item-right>{{ post.likes }}</ion-badge>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>






<!--https://www.youtube.com/watch?v=9TF4th61gvo-->
<!--https://developers.facebook.com/apps/1289695147781293/dashboard/-->
<!--https://ionicframework.com/docs/v2/native/facebook/-->
<!--https://developers.facebook.com/tools/explorer/145634995501895?method=GET&path=me%3Ffields%3Did%2Cname%2Cabout%2Cposts%7Blikes%7D%2Clikes%2Cnew_like_count&version=v2.8-->
<!--https://www.rocketmarketinginc.com/blog/get-never-expiring-facebook-page-access-token/-->