
page-youtube {
    overflow:auto;

    h1{
        font-family: $fontStyle;
    }

    .limit-word    {
       /* overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;*/
        color:#c6c6c6;
    }

    .card-align    {
        position: relative;
        height: auto;
        margin-bottom: 10px;
    }

    .iframe-container{
        box-sizing: border-box;
        padding: 13px 16px;

        .youtube-backdrop{
            width: 100%;
            min-height: 150px;
            background: black;
        }

        iframe{
            width: 100%;
            border:none;
            outline: none;
        }
    }



    .pull-right    {
        position: absolute;
        right: 20px;
        color: $publishdateColor;
        font-size: $publishdateSize;   
    }

    .bottom_bar    {
        position: fixed;
        bottom: 2vh;
        width: 100%;
    }

    .grid  {
        padding:0px;
    }

    .col {
        padding: 0px;
    }   
}
