<ion-header>
  <header [header]="header_data"></header>
  <ion-icon name="logo-youtube" class="icon-pull-right" (click)="doRefresh($event)"></ion-icon>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-card *ngFor="let videoList of videoListArr">
          <div class="iframe-container">
            <div class="youtube-backdrop">
              <iframe [src]="videoList.videoUrl"></iframe>
            </div>
          </div>
          <ion-card-content class="card-align">
            <h2>{{videoList.videoTitle}}</h2>
            <div class="limit-word">{{videoList.videoDesc}}</div>
            <!--<ion-datetime class="pull-right" displayFormat="MM/DD/YYYY" [(ngModel)]="myDate">>{{videoList.videoPublishedDate}}</ion-datetime>-->
            <div><span class="pull-right">{{videoList.videoPublishedDate | date :'mediumDate'}}</span></div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>











<!--OLD CODE
  <ion-header>
  <ion-navbar >

    <ion-title><i class="flaticon-drone-14 adjust-icon"></i>DronEPIC</ion-title>
     <ion-icon name="logo-youtube" class="icon-pull-right"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-card *ngFor="let videoList of videoListArr">
          <iframe [src]="videoList.videoUrl"></iframe>
          <ion-card-content class="card-align">
            <h2>{{videoList.videoTitle}}</h2>
            <div class="limit-word">{{videoList.videoDesc}}</div>
            <ion-datetime class="pull-right" displayFormat="MM/DD/YYYY" [(ngModel)]="myDate">>{{videoList.videoPublishedDate}}</ion-datetime>
            <div><span class="pull-right">{{videoList.videoPublishedDate | date :'mediumDate'}}</span></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
    <div class="bottom_bar">
    Present to Destiny
    </div>
</ion-footer>-->