<ion-header>
  <header [header]="header_data"></header>
  <ion-icon name="information-circle" class="icon-pull-right"></ion-icon>
</ion-header>

<ion-content padding class="about">
  <h4 class="contentText">Mission</h4>
  <!--<ion-spinner name="circles" *ngIf!="{{displayData.mission}}"></ion-spinner>-->
  <p class="desc_p">{{displayData.mission}}</p>
  <h4 class="contentText">Vision</h4>
  <p class="desc_p">{{displayData.vision}}</p>
  <ion-card>
    <div class="iframe-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d219.0951115351278!2d77.04213079329595!3d28.52403223895884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x26615ce5dc549d13!2sDronEPIC+Aviation+%26+Aerospace!5e0!3m2!1sen!2sin!4v1489738246972"
        width="524" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </ion-card>
</ion-content>
<ion-footer>
  <div class="bottom_bar" padding>
    <ion-icon name="home" class="footerMenuIcon"></ion-icon>
    <span class="footerMenuText">DronEPIC Aerospace & Aviation, I Block - 805 Palam Vihar, Gurgaon, Haryana - 122017</span><br>
    <ion-icon name="phone-portrait" class="footerMenuIcon"></ion-icon>
    <!--<span class="footerMenuText"><a href="tel:+91-9876353102" class="button button-positive">Contact Us</a></span><br>-->
    <button class="footerMenuText footerButton" ion-button large clear icon-right color="primary" (click)="contactUs('tel:+91-9876353102')"><span>Call Us</span></button>
    <br>
    <ion-icon name="mail" class="footerMenuIcon"></ion-icon>
    <button class="footerMenuText footerButton" ion-button large clear icon-right color="primary" (click)="contactUs('mailto:indronepic@gmail.com')"><span>Mail Us @ indronepic@gmail.com</span></button>
  </div>
</ion-footer>