page-about {
    .about{
        //background-image: url(http://dronepic.co.in/img/slider/twodroneinsky.jpg);
        background-image: url(../assets/logo/drone.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        // opacity: 0.6;
        background-size: cover;
        color:color($colors, light);
    }

    .desc_p{
      line-height: 18px;
    }

    .footerButton {
         height: 1em;
         margin: 0px;
         margin-bottom: 10px;
         text-transform:none;
    }
    .button-inner {
        justify-content: flex-start;
        span {
            padding-top:9px;
            margin-left:-12px;
        }
     }

    .contentText {
        font-size: $publishdateSize*1.83;
    }

    .iframe-container {
    box-sizing: border-box;
    padding: 4px 4px;
}


    
}