<ion-header>
    <header [header]="header_data"></header>
    <i class="flaticon-basket-with-one-handle icon-pull-right adjust-icon"></i>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="createUser()">
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.name" name="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email Id</ion-label>
            <ion-input type="email" [(ngModel)]="user.mail" name="mail"></ion-input>
        </ion-item>
         <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Register</button>
    </form>
    
    <form (ngSubmit)="authUser()">
        <ion-item>
            <ion-label>Email Id</ion-label>
            <ion-input type="email" [(ngModel)]="data.user.mail" name="mail"></ion-input>
        </ion-item>
         <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [(ngModel)]="data.user.password" name="password"></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Login</button>
    </form>
</ion-content>